/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}strong{font-weight:bold; }i{font-style:italic; }a{text-decoration:none; }

/*We set the font-size to 62.5% so that it reduces from 16 px by default to 10 px in all browsers. Now 1rem=10px so it is very easy to calculate rems by default, no need for a calculator*/
html { height:100%; font-size:10px; }
body { min-height:100%; font-family:"Roboto", Arial, sans-serif; background-color:#FAFAFA; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; -webkit-overflow-scrolling:touch; }
input::-ms-clear { display:none; } /* Removing the "clear" that IE ads automatically in the input fields */

@media all and (max-width:768px) {
	body { padding-top:6.4rem; }
}

/* site anchors */
a { color:inherit; }
a:link, a:visited, a:hover, a:active { text-decoration:none; }
a:focus, button:focus, input:focus, textarea:focus { outline:2px solid #000; } /* WCAG - actionable elements having a clear and visible outline when focused. */

.clear { clear:both; }
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }


.box-wide { width:92%; max-width:120rem; margin:auto; min-width:80rem; }
.box-narrow { width:66%; margin:auto; min-width:60rem; }
.box-tiny { width:50%; max-width:60rem; min-width:30rem; margin:auto; min-width:30rem; }

/*------------------- Simple Grid ------------------------*/
.box-full { width:100%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.box-half { width:50%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.box-third { width:33.333%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.box-two-thirds { width:66.66%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.box-quarter { width:25%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.box-three-quarters { width:75%; float:left; -moz-box-sizing:border-box; box-sizing:border-box; }
.column-grid { width:104.082%; margin-left:-2.041%; }
	.column-grid > .box-quarter { width:calc(25% - 2rem); margin-left:1rem; margin-right:1rem; }
	.column-grid > .box-third { width:calc(33.333% - 2rem); margin-left:1rem; margin-right:1rem;  }
	.column-grid > .box-two-thirds { width:calc(66.666% - 2rem); margin-left:1rem; margin-right:1rem;  }
	.column-grid > .box-full { width:calc(100% - 2rem); margin-left:1rem; margin-right:1rem;  }
	.column-grid > .box-half { width:calc(50% - 2rem); margin-left:1rem; margin-right:1rem;  }
	.column-grid > .box-three-quarters { width:calc(75% - 2rem); margin-left:1rem; margin-right:1rem;  }

@media all and (min-width:1200px) {
	.box-wide { width:77%; }
}
@media all and (max-width:850px) {
	.box-wide { min-width:auto; }
}
@media all and (max-width:768px) {

	.box-third,
	.box-quarter { width:50%; }
	.box-two-thirds,
	.box-three-quarters { width:100%; }

	.column-grid > .box-third,
	.column-grid > .box-quarter { width:calc(50% - 2rem); }
	.column-grid > .box-two-thirds,
	.column-grid > .box-three-quarters { width:calc(100% - 2rem); }
}
@media all and (max-width:540px) {
	.box-third,
	.box-quarter,
	.box-half { width:100%; }

	.column-grid > .box-third,
	.column-grid > .box-quarter,
	.column-grid > .box-half  { width:calc(100% - 2rem); }
	
	.box-narrow { width:90%; min-width:initial; }
}

/* --------------------------- General rules --------------------------*/
.main-wrapper { min-height:calc(100% - 7.8rem); }
.section { margin:7rem 0; position:relative; }
.section.connect-up { margin-top:0; }
.section.connect-bottom { margin-bottom:0; }

@media all and (max-width:768px) {
	.section { margin:4rem 0; }
}
	
/*
Popup
*/
.popup { position:fixed; top:0; bottom:0; width:100%; height:100%; visibility:hidden; opacity:0; will-change:transition; transition:visibility .3s, opacity .3s; z-index:1; }
.popup.is-active { visibility:visible; opacity:1; }
	.popup-background { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, .5); cursor:pointer; }
	.popup-body { position:relative; width:75%; min-width:28rem; max-width:60rem; max-height:80%; overflow:auto; margin:auto; background-color:#fff; padding:2.4rem; top:50%; transform:translate3d(0, -50%, 0); box-sizing:border-box; }
	.popup-text { font-size:1.6rem; line-height:1.4; }

@media all and (max-width:768px) {
	.popup-body { padding:0 1.6rem 1.6rem 1.6rem; }
	.popup-title.main-heading { font-size:2.8rem; line-height:1.2; margin:.8rem 0; }
}

/*
Slider
*/
.slider { width:calc(100% + 4.8rem); margin-left:-2.4rem; margin-bottom:2.4rem; }
.sss { height:0; margin:0; padding:0; position:relative; display:block; overflow:hidden; }
.ssslide { width:100%; margin:0; padding:0; position:absolute; top:0; left:0; display:none; overflow:hidden; }
.ssslide img { max-width:100%; height:auto; margin:0; padding:0; position:relative; display:block; }
.sssnext, .sssprev { width:25px; height:100%; margin:0; position:absolute; top:0; background:url('images/arr.png') no-repeat; }
.sssprev { left:3%; background-position:0 50%;} 
.sssnext { right:3%; background-position:-26px 50%; }
.sssprev:hover, .sssnext:hover { cursor:pointer; }
.ssslide .caption { position:absolute; bottom:0; padding:1.6rem 2.4rem; background-color:rgba(255, 255, 255, .7); left:0; width:100%; font-size:1.6rem; }

@media all and (max-width:768px) {
	.slider { width:calc(100% + 3.2rem); margin-left:-1.6rem; margin-bottom:1.6rem; }

}


.loader { position:fixed; top:0; left:0; width:100%; height:100%; background-color:#fff; opacity:1; visibility:visible; z-index:2; transition:opacity .25s, visibility .25s; }
.loader.is-done { opacity:0; visibility:hidden; }